@model IEnumerable<schedule_mvc.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

@{
    var count_text = ViewData["CountText"];
}

<h1>Appointments</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<hr />

<form asp-controller="Appointments" asp-action="Index" method="get">
    <p>
		Client Name: <input type="text" name="client_name" />
        Doctor Name: <input type="text" name="doctor_name" />
		<input type="submit" value="Filter" />
    </p>
</form>

<div>@count_text</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
